/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
  background-color: lightblue;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.btn-primary{
padding-left: 50px;
padding-right: 50px;
background: blue;
border-bottom-left-radius: 7px;
border-bottom-right-radius: 7px;
border-top-left-radius: 7px;
border-top-right-radius: 7px;
padding-top: 3px;
padding-bottom: 4px;
} 
.btn-secondary
{
		box-sizing: content-box;
	font: 13px Helvetica, arial, freesans, clean, sans-serif;
line-height: 1.4;
color: white;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #60B044;
background-repeat: repeat-x;
border-color: #5CA941;
position: relative;
display: inline-block;
padding: 7px 15px;
font-size: 13px;
font-weight: bold;

text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
white-space: nowrap;
background-color: #EAEAEA;

background-repeat: repeat-x;
border-radius: 3px;
border: 1px solid #DDD;
border-bottom-color: #C5C5C5;
box-shadow: 0 1px 3px rgba(0,0,0,0.075);
vertical-align: middle;
cursor: pointer;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-appearance: none;

}